body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background: linear-gradient(to right, #00c6ff, #0072ff); /* Fondo de gradiente */
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  margin: 20px 0;
}

.menu button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu button:hover {
  background-color: #f57c00;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #2196f3; /* Azul */
  color: white;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.floating-button:hover {
  background-color: #1976d2; /* Azul oscuro */
  transform: scale(1.1); /* Efecto de agrandamiento */
}

.screen {
  display: none;
  padding: 20px;
}

.screen.active {
  display: block;
}

/* Estilos comunes */
button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #f57c00;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

button.reset {
  background-color: #e91e63;
}

button.reset:hover {
  background-color: #c2185b;
}